*{padding: 0px; margin: 0px;}
body{
    
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.header{
    background-color: blanchedalmond;
}

nav{

    display:flex; justify-content: space-between; align-items: center; 
    margin: 0px 150px; background-color: blanchedalmond;
}
.nav_title{
    font-size: 45px;
    font-weight:800;
    color: black;
}
.primary_color{
    color:orange;
}
nav>ul{
    display: flex; align-items: center;
}
nav>ul>li{
    list-style: none;
    margin-right: 50px;
}
nav>ul>li>a{
    text-decoration: none; color:gray;
}
.btn_primary{
    border-radius: 5px; background-color: orange;
    border: 0px; font-size: 20px; font-weight: 700px;
    padding: 15px 35px; color: azure;
}
.banner{
    margin: 0px 150px;
    display: flex;
    padding: 30px 30px 30px 150px;
    align-items: center;
    justify-content: space-between;
}
.profile_pic{
    width: 300px;
    border-radius: 1000px;
    
}
.btn_primary{
    margin-right: 5px;
}
.banner_getting{
    margin-bottom: 5px;
}
.banner_title{
    margin-bottom: 5px;
}
.discription{
    margin-bottom: 5px;

}
.about{
    text-align: center;
    padding: 120px 120px;
    background-color: bisque;
    margin: 50px 300px;
}
.about-info-container{
    display: flex;
    justify-content: space-around;
}
.about-info-container>.aboutinfo{
    margin: 50px;
}